srcs/_Create_Server.o
srcs/main.o
srcs/cgi/cgi.o
srcs/methods/_Delete/delete_Response.o
srcs/methods/_Delete/utils.o
srcs/methods/_Get/_Get.o
srcs/methods/_Post/mime_types.o
srcs/methods/_Post/post.o
srcs/parsing/config/config_parse.o
srcs/parsing/request/request.o
srcs/response/error_response.o
srcs/response/response.o
webserv
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/settings.json
